@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Smart Tour Admin</title>
    <link rel="stylesheet" href="~/css/admin.css">
</head>

<body>
    <div class="sidebar">
        <h2>Admin</h2>
        @* Link chuẩn dùng Tag Helper *@
        <a asp-controller="POI" asp-action="Index">POI</a>
        <a asp-controller="Audios" asp-action="Index">Audio</a>
        <a asp-controller="Tour" asp-action="Index">Tour</a>
        <a asp-controller="Analytics" asp-action="Index">Analytics</a>
    </div>

    <div class="main">
        <div class="topbar">
            Smart Tour Guide Admin
        </div>

        <div class="content">
            @RenderBody()
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    <script src="~/js/poi-management.js" asp-append-version="true"></script>

    @* Dòng này cực kỳ quan trọng để các trang con chạy được Script riêng *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>